@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

@layer base {
  :root {
    --rim-light: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  body {
    @apply bg-surface text-on-surface font-sans;
  }

  .fade-in-section {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
